apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "messaging-service.fullname" . }}-config
  labels:
    {{- include "messaging-service.labels" . | nindent 4 }}
    {{- include "messaging-service.selectorLabels" . | nindent 4 }}
data:
  PORT: {{ .Values.service.port | quote }}
  LOG_LEVEL: {{ default "info" .Values.service.logLevel | quote }}
  USER_SERVICE_URL: {{ .Values.service.userServiceUrl}}
